.appliancename--box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.applianceimage--box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.appliancedescription--box {
    margin-left: -55px;
    margin-bottom: 15px;
}
